@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  --tw-bg-opacity: 1;
  background-color: rgb(212 38 38 / var(--tw-bg-opacity)) /* #6ee7b7 */;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


